model.node_count=1024
model.updates_per_frame=10
model.node_max_edges=10
model.node_min_edges=5
model.node_min_edges_decay=0
model.node_min_edges_floor=5
layout.spring_length=5.0
layout.iterations_per_frame=1
layout.repulsion_constant=10000.0
layout.attraction_constant=0.5
layout.timestep=1.0
layout.damping_factor=0.005
layout.stabilization_iterations=5